<div class="row">
    <div class="col-md-6 col-md-offset-2">
       <h2 class="text-center">About Us</h2>
        <p>Welcome to DevMatch, We are community of Developers, Investors, Entreprenuers 
        interested in sharing ideas and developing a common community for people to meet with others</p> 
    </div>
</div>
