<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <h1>You have recieved an email from Contact form, from: <%= "#{@name}, #{@email}."%></h1>
        <p><%= @body %>
    </body>
</html>